<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Клієнт</title>
    <link rel="stylesheet" type="text/css" href="../static/css/client.css">
    <script type="text/javascript" src="../static/js/client.js"></script>
    <script type="text/javascript" src="../static/js/BigInteger.js"></script>
</head>
<body>
    <div id="block">
    	<h1>Клієнт</h1>
    	<hr/>
    	<div class="text">Клієнт № 
    		<p id="id" class="text_num">-</p>
    	</div>
    	Задане число
        <br>
    	<textarea id="num" class="text_num"></textarea>
        <br>
    	Status
    	<div id="status">
    	</div>
    	<button id="button_con" onclick="button_con()">Підключитись</button>
    </div>
</body>
</html>