<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Server</title>
    <link rel="stylesheet" type="text/css" href="../static/css/server.css">
    <script type="text/javascript" src="../static/js/server.js"></script>
</head>
<body>
  <div id="block">
    	<h1>Сервер</h1>
    	<div>
    		Число:
    		<input type="number" id="number" value="3254354654765735" min="2" step="1">
    		<button id="button_search" onclick="search();" >{% if search %}Зупинити{% else %}Пошук{% endif %}</button>
    	</div>
    	<br/>
    	Клієнти
    	<div>
    		<select id="clients" size="8">
	    		<option value="s1">Чебурашка</option>
    			<option value="s2">Крокодил Гена</option>
    			<option value="s3">Шапокляк</option>
    			<option value="s4">Крыса Лариса</option>
	   		</select>
	   	</div>
	   	<br/>
    	Status
    	<div id="status">
    	</div>
    	
    </div>
</body>
</html>